@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* default body styling */
* {
  margin: 0;
  font-family: "Quicksand";
  color: white;
  background-color: #000000;
  box-sizing: border-box;
  text-align: center;
}
.header{
  display: flex;
  text-align: left;
}
.tablecontent{
  border-collapse:collapse;
  margin: 2px 0;
  font-size: 0.9em;
  max-width: 400px; 
}
.btn{
  background-color: white;
  color: black;
}
input {
  width: 25%  important;
  margin-right: 0.25em important;
  margin-left: 0.25em important;
  background-color: white;
}
.form-inputs{
  position: relative;
  bottom: 20px;
  color: white;
}
body{
  margin: 0;
  padding: 10px;
  padding-right: 25px;
  font-family: "Quicksand";
}

.App {
  text-align: center;
  padding: 5px;
}
.App-header{
  padding: 20px;
  color: white;
}
#search-form{
  display:flex ;
  width: 100px;
  border: 1px solid orange;
  margin: 5px 0;
  height: 40px;
  border-radius: 10px;
  padding: 4px;
  justify-content: space-between;
  background-color: white;
  position: relative;
}
#search{
  text-align: left;
  flex: 1;
  font-size: 10px;
  outline: none;
  border: none;
  background: transparent;
  width: 80%;
  color: orange;
}

#search-form button{
  background: transparent;
  border: none;
  outline: none;
  font-size: 25px;
  cursor: pointer;
}
.form inputs{
  display: flex;
  justify-content: space-evenly;
}
#new-item-form{
  height: 70px;
  border-radius: 6px;
  border: 1px solid black;
  margin: 6px 0;
  padding: 5px;
}
.text-input{
  text-align: left;
}
#new-item-form input{
  height: 25px;
  font-size: 16px;
}
#new-item-form button{
  height: 25px;
  margin-top: 0px;
  border-radius: 0;
  outline: 0;
  border: 0;
  cursor: pointer;
}
#fa-plus{
  color: white;
  font-weight: bold;
  font-size: 15px;
}
table{
  width: 100%;
  border-radius: 2px;
  border-collapse: collapse;
}
tr,td,th,table{
  border: 1px solid;
  color: white;
}
th{
  background: #FFA500;
  color: white;
  padding: 0px;
}
td{
  padding: 30px;
}
.App{
  text-align: center;
}


